**Sequential data type**

    * String - it is immuatable

In [1]:
name = "Vinay Pratap Singh"
print(name)

Vinay Pratap Singh

In [4]:
print(type(name))

<class 'str'>

In [2]:
city = 'Delhi'
print(city)

Delhi

In [5]:
print(type(city))

<class 'str'>

In [9]:
product_review = '''
The product i used
was really good and 
i want to recomend it to 
my friends and families
'''

print(product_review)
print()
print(type(product_review))

The product i used
was really good and
i want to recomend it to
my friends and families


<class 'str'>

In [10]:
print(city)

Delhi

In [12]:
print(city[0])
print(city[1])
print(city[2])

D
e
l

In [14]:
print(name)
print(len(name))

Vinay Pratap Singh
18

In [20]:
print(name[0])
print(name[-1])
print(name[-2])

V
h
g

In [23]:
print(name[13])

S

In [25]:
print(name[13:18])

Singh

In [27]:
print(name[0:5])

Vinay

In [15]:
print(city)
print(len(city))

Delhi
5

In [22]:
print(city[0])
print(city[-1])

D
i

In [16]:
print(product_review)
print(len(product_review))

The product i used
was really good and
i want to recomend it to
my friends and families

91

In [28]:
print(product_review[10:18])

ct i use

**String Operations**

    * split()

In [29]:
print(name)

Vinay Pratap Singh

In [33]:
print(name[0])

V

In [31]:
print(name.split(' '))

['Vinay', 'Pratap', 'Singh']

In [32]:
print(name.split(' ')[0])

Vinay

In [39]:
print(product_review)

The product i used
was really good and
i want to recomend it to
my friends and families

In [40]:
product_review[1]

'T'

In [36]:
print(product_review.split('\n'))

['', 'The product i used', 'was really good and ', 'i want to recomend it to ', 'my friends and families', '']

In [38]:
product_review.split('\n')[1]

'The product i used'

**String Operations**

    * strip()
    * lstrip()
    * rstrip()

In [41]:
print(product_review)

The product i used
was really good and
i want to recomend it to
my friends and families

In [42]:
print(product_review.lstrip())

The product i used
was really good and
i want to recomend it to
my friends and families

In [43]:
print(product_review.rstrip())

The product i used
was really good and
i want to recomend it to
my friends and families

In [44]:
print(product_review.strip())

The product i used
was really good and
i want to recomend it to
my friends and families

**String Operations**

    * concatenation

In [46]:
first_name = "Bipul"
last_name = "Shahi"

print(first_name + " " + last_name)

Bipul Shahi

In [56]:
' '.join([first_name , last_name])

'Bipul Shahi'

In [57]:
#repetetion
print(first_name * 3)

BipulBipulBipul

**String Operations**

    * upper()
    * lower()

In [64]:
print(first_name)
print(first_name.upper())
print(first_name.lower())

Bipul
BIPUL
bipul

**String Operations**

    * membership

In [58]:
print(product_review)

The product i used
was really good and
i want to recomend it to
my friends and families

In [61]:
product_review = '''
The product i used
was really Good and 
i want to recomend it to 
my friends and families
'''
print(product_review)

The product i used
was really Good and
i want to recomend it to
my friends and families

In [65]:
print(product_review.lower())

the product i used
was really good and
i want to recomend it to
my friends and families

In [66]:
print('good' in product_review.lower())

True

* using f-strings

In [69]:
name = 'Ajay'
age = 35

print(f"My name is {name} and I am {age} years old")

My name is Ajay and I am 35 years old

In [71]:
print("Hello\nWorld")

Hello
World

In [72]:
print(name)

Ajay

* String is immutable

In [74]:
name[0] = 'B'

TypeError: 'str' object does not support item assignment

In [75]:
name = "Anil"
print(name)

Anil

In [77]:
name[0] = 'K'

TypeError: 'str' object does not support item assignment

In [85]:
name = "Vinay Pratap Singh"
print(name)

Vinay Pratap Singh

In [88]:
new_name = name.replace("Singh" , "King")
print(new_name)

Vinay Pratap King

In [87]:
print(name)

Vinay Pratap Singh

**Sequential data type**

    * List 
        - It is muttable
        - It is ordered
        - allows duplicates
        - can contain different data types - Hetrogeneous

In [109]:
cities = ["Delhi" , "Jaipur" , "Chennai" , "Pune" , "Coimbatore" , "Pune"]
print(cities)
print(type(cities))

['Delhi', 'Jaipur', 'Chennai', 'Pune', 'Coimbatore', 'Pune']
<class 'list'>

In [94]:
print(cities[0])
print(cities[1])
print(cities[2])
print(cities[3])

Delhi
Jaipur
Chennai
Pune

In [97]:
print(cities[-1])
print(cities[-2])
print(cities[-3])
print(cities[-4])

Pune
Coimbatore
Pune
Chennai

In [95]:
print(cities[1:4])

['Jaipur', 'Chennai', 'Pune']

In [96]:
info = ["Arun" , 25 , True]
print(info)

['Arun', 25, True]

In [98]:
print(len(cities))

6

In [110]:
cities

['Delhi', 'Jaipur', 'Chennai', 'Pune', 'Coimbatore', 'Pune']

In [111]:
print(cities * 2)

['Delhi', 'Jaipur', 'Chennai', 'Pune', 'Coimbatore', 'Pune', 'Delhi', 'Jaipur', 'Chennai', 'Pune', 'Coimbatore', 'Pune']

In [104]:
print('Pune' in cities)
print('Nagpur' in cities)

True
False

In [112]:
print(cities[1])

Jaipur

In [100]:
cities[1] = 'Indore'
print(cities)

['Delhi', 'Indore', 'Chennai', 'Pune', 'Coimbatore', 'Pune']

In [113]:
name = "Ajay"
print(name)

Ajay

In [115]:
name[0] = "B"

TypeError: 'str' object does not support item assignment

In [116]:
list(name)

['A', 'j', 'a', 'y']

In [108]:
name_list = list(name)      #converted string into a list using typecasting

name_list[0] = 'K'

new_name = ''.join(name_list)
print(new_name)

Kjay

**Some list methods**

In [119]:
#append()- to add a new item into the list

print(cities)
cities.append("Mumbai")
print(cities)

['Delhi', 'Jaipur', 'Chennai', 'Pune', 'Coimbatore', 'Pune']
['Delhi', 'Jaipur', 'Chennai', 'Pune', 'Coimbatore', 'Pune', 'Mumbai']

In [120]:
#insert() - inserting a new item using the index value

print(cities)
cities.insert(3,"Banglore")
print(cities)

['Delhi', 'Jaipur', 'Chennai', 'Pune', 'Coimbatore', 'Pune', 'Mumbai']
['Delhi', 'Jaipur', 'Chennai', 'Banglore', 'Pune', 'Coimbatore', 'Pune', 'Mumbai']

In [122]:
#remove() - to remove an item from a given list (first occurance)

print(cities)
cities.remove('Jaipur')
print(cities)

['Delhi', 'Jaipur', 'Chennai', 'Banglore', 'Pune', 'Coimbatore', 'Pune', 'Mumbai']
['Delhi', 'Chennai', 'Banglore', 'Pune', 'Coimbatore', 'Pune', 'Mumbai']

In [124]:
#pop() - to remove an item using index value

print(cities)
cities.pop(2)
print(cities)

['Delhi', 'Chennai', 'Banglore', 'Pune', 'Coimbatore', 'Pune', 'Mumbai']
['Delhi', 'Chennai', 'Pune', 'Coimbatore', 'Pune', 'Mumbai']

In [125]:
cities.remove('Pune')

In [126]:
print(cities)

['Delhi', 'Chennai', 'Coimbatore', 'Pune', 'Mumbai']

In [127]:
#clear() - to clear all existing value in a list and create a blank list
cities.clear()
print(cities)

[]

In [128]:
cities = ["Delhi" , "Jaipur" , "Chennai" , "Pune" , "Coimbatore" , "Pune"]
print(cities)

['Delhi', 'Jaipur', 'Chennai', 'Pune', 'Coimbatore', 'Pune']

In [130]:
#index() - to return the index of any single item in a list
print(cities.index('Chennai'))

2

In [131]:
#count() - to count() number of times an item appeared in a list
print(cities.count('Pune'))

2

In [132]:
#sort() numerically ascending order or alphabetically if it is non-numerical data
cities.sort()
print(cities)

['Chennai', 'Coimbatore', 'Delhi', 'Jaipur', 'Pune', 'Pune']

In [133]:
#to reverse your given list
cities.reverse()
print(cities)

['Pune', 'Pune', 'Jaipur', 'Delhi', 'Coimbatore', 'Chennai']

**Sequential data type**

    * Tuple 
        - It is Im-muttable
        - It is ordered
        - allows duplicates
        - can contain different data types - Hetrogeneous

In [141]:
numbers = (2,4,6,3,9,1,3,6,3)

print(numbers)
print(type(numbers))

(2, 4, 6, 3, 9, 1, 3, 6, 3)
<class 'tuple'>

In [142]:
numbers[2] = 9

TypeError: 'tuple' object does not support item assignment

In [143]:
print(numbers[2:5])

(6, 3, 9)

In [144]:
print(len(numbers))

9

In [145]:
numbers.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [146]:
print(numbers)

(2, 4, 6, 3, 9, 1, 3, 6, 3)

In [147]:
print(numbers.index(6))

2

In [148]:
print(numbers.count(3))

3

In [149]:
print(len(numbers))

9