In [31]:
name = "Arun"
print(name)

Arun

In [32]:
x = 8
y = 3
z = x + y
print(z)

11

In [33]:
name = "Joy"
age = 23

In [34]:
print(name)

Joy

In [13]:
def show_details(name,age):
    details = {'name' : name , 'age' : age}
    return details

In [14]:
show_details("Ajay" , 12)

{'name': 'Ajay', 'age': 12}

In [15]:
def show_details(name,age):
    print("hello World")

In [16]:
show_details(name,age)

hello World

**Object oriented Programming - Class**

    * A class has two units
        * variable - the property or attribute of class
        * function/methods - the behaviour of class

In [17]:
class myClass:
    pass

In [18]:
obj1 = myClass()

In [26]:
color = 'blue'

In [50]:
class vehicle:
    color = 'red'         #property or attribute of class

    def drive(self):          #behaviour or method of class => method with a class defined with a default paramater self => self represents or handle instances
        return "120 km/h"

In [54]:
v1 = vehicle()      #v1 is object or instance of a class

In [52]:
print(v1.color)

red

In [49]:
v1.drive()

"120 km'h"

In [36]:
print(color)

blue

In [69]:
class employee:

    def emp_details(self):
        self.name = 'Ajay'
        self.age = 23

    def show_details(self):
        details = {'name' : self.name , 'age' : self.age}
        return details

In [70]:
e1 = employee()

In [71]:
e1.emp_details()

In [72]:
e1.show_details()

{'name': 'Ajay', 'age': 23}

* Self lets you access instance variables and other methods from within the class

In [87]:
class employee:

    def emp_details(self,e_name,e_age):
        self.name = e_name
        self.age = e_age

    def show_details(self):
        details = {'name' : self.name , 'age' : self.age}
        return details

In [88]:
e1 = employee()
e1.emp_details('Pratik' , 22)

In [89]:
e2 = employee()
e2.emp_details('Rajesh' , 23)

In [90]:
e1.show_details()

{'name': 'Pratik', 'age': 22}

In [91]:
e2.show_details()

{'name': 'Rajesh', 'age': 23}

In [92]:
print(e1.name, e2.name)

Pratik Rajesh

In [121]:
#Student class 
#A variable to count number of students
#A method to feed student details
#A method to show student details
#A method to add marks to the students

class students:

    count = 0
    
    def student_details(self,name,standard):
        self.name = name
        self.class_studying = standard
        students.count = students.count + 1
        
    def add_marks(self,marks):
        self.marks = marks

    def show_details(self):
        details = {'name' : self.name , 'class' : self.class_studying , 'marks' : self.marks}
        return details

    def show_count(self):
        return self.count

In [122]:
s1 = students()

s1.student_details('Arun' , '5th')
s1.add_marks(34)

In [123]:
s1.show_details()

{'name': 'Arun', 'class': '5th', 'marks': 34}

In [124]:
s2 = students()

s2.student_details("Amir" , "4th")
s2.add_marks(32)

s2.show_details()

{'name': 'Amir', 'class': '4th', 'marks': 32}

In [125]:
print(s1.name)
print(s2.name)
print()
print(s1.marks)
print(s2.marks)
print()
print(s1.class_studying)
print(s2.class_studying)

Arun
Amir

34
32

5th
4th

In [126]:
s1.show_count()

2

In [127]:
s2.show_count()

2

**Initialiser / Constructor**

In [173]:
class students:

    def __init__(self,name,std):
        self.name = name
        self.standard = std

    def add_marks(self, marks):
        self.marks = marks
        if self.marks > 90:
            self.grades = 'A+'
        elif self.marks > 80:
            self.grades = 'A'
        elif self.marks > 80:
            self.grades = 'B+'
        elif self.marks > 70:
            self.grades = 'B'
        else:
            self.grades = 'C'

    def show_details(self):
        details = {'name' : self.name, 'Standard' : self.standard , 'Marks' : self.marks , 'Grades' : self.grades}
        return details

In [174]:
s1 = students("Abhay" , "6th")
s2 = students("Pavan" , "5th")
s3 = students("Sameer" , "4th")
s4 = students("Ritu" , "7th")

In [175]:
s1.add_marks(80)
s2.add_marks(87)
s3.add_marks(92)
s4.add_marks(77)

In [176]:
print(s1.name)
print(s1.standard)
print(s1.marks)

Abhay
6th
80

In [177]:
print(s2.name)
print(s2.standard)
print(s2.marks)

Pavan
5th
87

In [178]:
print(s3.name)
print(s3.standard)
print(s3.marks)

Sameer
4th
92

In [179]:
print(s1.show_details())
print(s2.show_details())
print(s3.show_details())
print(s4.show_details())

{'name': 'Abhay', 'Standard': '6th', 'Marks': 80, 'Grades': 'B'}
{'name': 'Pavan', 'Standard': '5th', 'Marks': 87, 'Grades': 'A'}
{'name': 'Sameer', 'Standard': '4th', 'Marks': 92, 'Grades': 'A+'}
{'name': 'Ritu', 'Standard': '7th', 'Marks': 77, 'Grades': 'B'}

**modifiers - public and private**

In [180]:
class students:

    def __init__(self,name,std):
        self.__name = name                 #now name variable is private - accessible within class and its methods only
        self.__standard = std              #now standard variable is private - accessible within class and its methods only

    def add_marks(self, marks):
        self.marks = marks
        if self.marks > 90:
            self.grades = 'A+'
        elif self.marks > 80:
            self.grades = 'A'
        elif self.marks > 80:
            self.grades = 'B+'
        elif self.marks > 70:
            self.grades = 'B'
        else:
            self.grades = 'C'

    def show_details(self):
        details = {'name' : self.__name, 'Standard' : self.__standard , 'Marks' : self.marks , 'Grades' : self.grades}
        return details

In [181]:
ps1 = students("Abhay" , "6th")
ps2 = students("Pavan" , "5th")
ps3 = students("Sameer" , "4th")
ps4 = students("Ritu" , "7th")

In [182]:
ps1.add_marks(80)
ps2.add_marks(87)
ps3.add_marks(92)
ps4.add_marks(77)

In [183]:
print(ps1.show_details())
print(ps2.show_details())
print(ps3.show_details())
print(ps4.show_details())

{'name': 'Abhay', 'Standard': '6th', 'Marks': 80, 'Grades': 'B'}
{'name': 'Pavan', 'Standard': '5th', 'Marks': 87, 'Grades': 'A'}
{'name': 'Sameer', 'Standard': '4th', 'Marks': 92, 'Grades': 'A+'}
{'name': 'Ritu', 'Standard': '7th', 'Marks': 77, 'Grades': 'B'}

In [184]:
print(ps1.__name)
print(ps1.__standard)
print(ps1.marks)

AttributeError: 'students' object has no attribute '__name'