**Dictionary**

    * store the iformation as key value pair

In [9]:
student = {'name': 'Arun',
           'age' : 15,
           'subject' : 'Physics'}

print(student)
print()
print(type(student))

{'name': 'Arun', 'age': 15, 'subject': 'Physics'}

<class 'dict'>

In [8]:
print(student.keys())
print()
print(student.values())

dict_keys(['name', 'age', 'subject'])

dict_values(['Arun', 15, 'Physics'])

In [6]:
print(student['name'])
print(student['age'])
print(student['subject'])

Arun
15
Physics

In [10]:
#add a new key value pair
student['marks'] = 55.7
print(student)

{'name': 'Arun', 'age': 15, 'subject': 'Physics', 'marks': 55.7}

In [11]:
#update a value for key
student['age'] = 14
print(student)

{'name': 'Arun', 'age': 14, 'subject': 'Physics', 'marks': 55.7}

In [13]:
#removing a key value
student.pop('age')
print(student)

{'name': 'Arun', 'subject': 'Physics', 'marks': 55.7}

**Boolean**

    * True/False

In [16]:
status = True
print(status)
print(type(status))

True
<class 'bool'>

**sets**

    * Unordered data collection of unique values
    * not contain any duplicate values

In [22]:
unique_ids = {'a12' , 'a13' , 'b25' , 'c72' , 'd43' , 'a12' , 'a13'}
print(unique_ids)
print(type(unique_ids))

{'a12', 'b25', 'a13', 'd43', 'c72'}
<class 'set'>

In [23]:
unique_ids[0]

TypeError: 'set' object is not subscriptable

In [24]:
unique_ids.add('c72')
print(unique_ids)

{'a12', 'b25', 'a13', 'd43', 'c72'}

In [25]:
unique_ids.add('c79')
print(unique_ids)

{'a12', 'b25', 'a13', 'c79', 'd43', 'c72'}

**Typecasting**

In [30]:
a = 56.9
print(a)
print()
print(a*2)

56.9

113.8

In [28]:
b = int(a)
print(b)

56

In [31]:
c = str(a)
print(c)
print()
print(c*2)

56.9

56.956.9

In [34]:
d = list([b])
print(d)

[56]

In [35]:
e = [6,8,9,3,2,6,3,2]
print(e)

[6, 8, 9, 3, 2, 6, 3, 2]

In [37]:
e[1] = 9
print(e)

[6, 9, 9, 3, 2, 6, 3, 2]

In [38]:
e.append(1)
print(e)

[6, 9, 9, 3, 2, 6, 3, 2, 1]

In [39]:
e.remove(6)
print(e)

[9, 9, 3, 2, 6, 3, 2, 1]

In [40]:
f = tuple(e)
print(f)

(9, 9, 3, 2, 6, 3, 2, 1)

In [41]:
f[0] = 21

TypeError: 'tuple' object does not support item assignment

In [42]:
g = set(e)      #converting list into set and storing into variable g
print(g)

{1, 2, 3, 6, 9}

In [44]:
g[0]

TypeError: 'set' object is not subscriptable

In [43]:
h = set(f)        #converting tuple into set and storing into variable h
print(h)

{1, 2, 3, 6, 9}

In [47]:
print(h)
print(type(h))

{1, 2, 3, 6, 9}
<class 'set'>

In [50]:
print(list(h))
print(tuple(h))
print(dict(h))

[1, 2, 3, 6, 9]
(1, 2, 3, 6, 9)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

**Operators in Python**

    * to operate between two variables
    * Arthemetic operators
    * Assignment Operators
    * Comparasion operators
    * Logical operators
    * Membership operators

**Arthemetic operators**

In [52]:
a = 17
b = 5

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)       #exponential
print(a // b)       #floor division
print(a % b)         #modulus operator

22
12
85
3.4
1419857
3
2

**Assignmnet Operator**

In [53]:
x = 10

In [54]:
x += 2
print(x)

12

In [55]:
x -= 3
print(x)

9

In [56]:
x *= 4
print(x)

36

In [57]:
x /= 5
print(x)

7.2

In [58]:
x **= 2
print(x)

51.84

In [59]:
x //= 3
print(x)

17.0

In [60]:
x %= 5
print(x)

2.0

**Comparasion operator**

In [61]:
age = 18

In [65]:
print(age == 18)
print(age > 10)
print(age < 15)
print(age >= 17)
print(age <= 17)
print(age != 18)

True
True
False
True
False
False

**Logical**

In [71]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [66]:
age  = 20
weight = 55

In [72]:
print(age > 18 and weight > 50)
print(age > 18 and weight < 50)
print(age < 18 and weight > 50)
print(age < 18 and weight < 50)

True
False
False
False

In [73]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [74]:
print(age > 18 or weight > 50)
print(age > 18 or weight < 50)
print(age < 18 or weight > 50)
print(age < 18 or weight < 50)

True
True
True
False

In [75]:
print(not(True))

False

In [76]:
print(not(False))

True

**Membership operators**

In [78]:
name = "Pavan"
print('P' in name)
print('X' in name)

True
False

In [81]:
names = ["Pavan" , "Ajay" , "Amar" , "Sanjay" , "Vijay"]

print("Ajay" in names)
print("Bipul" in names)

True
False

In [82]:
print("Ajay" not in names)
print("Bipul" not in names)

False
True

****
****
**Conditional Programming**
****
****

**if**

In [92]:
age = 25

if age >= 18:
    print("You are eligible to vote")

You are eligible to vote

**if-else**

In [94]:
age = 15

if age >= 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

You are not eligible to vote

In [99]:
age = int(input("Enter your age"))
print(type(age))
#print(age >= 18)

Enter your age 17

<class 'int'>

In [103]:
age = int(input("Enter your age"))

if (age >= 18):
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

Enter your age 12

You are not eligible to vote

In [106]:
#simulate login activity

user_name = input("Enter user id")
user_password = input("Enter password")

print(user_name == 'admin')
print(user_password == 'password')

Enter user id admin
Enter password asdfghj

True
False

In [110]:
#compare user_name with 'admin' and password with 'password' => if it is true then print => "login success"
#if it is not true print => 'Login failed'

user_name = input("Enter user id")
user_password = input("Enter password")

if (user_name == 'admin' and user_password == 'password'):
    print("Login success")
else:
    print("Login failed")

Enter user id admin
Enter password password

Login success

**if-elif-else**

In [113]:
marks = int(input("Enter your marks"))

if marks > 90:
    print("Grade A+")
elif marks > 80:
    print("Grade A")
elif marks > 70:
    print("Grade B+")
elif marks > 60:
    print("Grade B")
elif marks > 50:
    print("Grade C+")
elif marks > 40:
    print("Grade C")
else:
    print("Failed")

Enter your marks 65

Grade B

In [117]:
#create guess number game

import random
num = random.randint(1, 100)
print(num)

guess_number = int(input("Guess a number"))
print(guess_number)

96

Guess a number 56

56

In [139]:
import random
random_number = random.randint(1, 10)

In [141]:
guess_number = int(input("Guess a number"))

if guess_number < random_number:
    print("You are a smaller number")
elif guess_number > random_number:
    print("You guessed a larger  number")
else:
    print("You are a winner")

Guess a number 9

You are a winner

**bitwise operator**