In [1]:
print("Hello World")

Hello World

In [3]:
a = 9
b = 2
result = a*b
print(result)

18

**Basics of Python**

    * Variables & values
    * Data Types & Data structures
    * Operators
    * Conditional program
    * Loops
    * Functions
    * Exception Handling

In [4]:
name = "Bipul"
age = 32
city = "Delhi"

In [5]:
print(name , age , city)

Bipul 32 Delhi

In [8]:
a , b , c = 9 , 6 , 3
print(a , b , c)

9 6 3

In [10]:
x = y = z = 1234
print(x)
print(y)
print(z)

1234
1234
1234

In [12]:
print(name)
print(type(name))

Bipul
<class 'str'>

In [14]:
print(age)
print(type(age))

32
<class 'int'>

In [15]:
salary = 3065.34
print(salary)
print(type(salary))

3065.34
<class 'float'>

In [16]:
complex_number = 3 + 5j
print(complex_number)
print(type(complex_number))

(3+5j)
<class 'complex'>

**Sequence**

     * string

In [17]:
name = "Vinay Pratap Singh"
print(name)

Vinay Pratap Singh

In [21]:
print(name[0])
print(name[1])
print(name[2])

V
i
n