**Function**

    * Reusebility

In [1]:
#a function to calculate and print square of a number
def calc_square(x):
    result = x**2
    print(result)

In [4]:
def login(user_name, user_password):
    if (user_name == 'admin' and user_password == 'password'):
        print("Login success")
    else:
        print("Login failed")

In [6]:
login('admin','abcde')
login('admin','password')

Login failed
Login success

In [8]:
#function which can perform login check after user enter the credenbtials

user_name = input("Enter user id")
user_password = input("Enter password")

login(user_name, user_password)

Enter user id admin
Enter password password

Login success

In [21]:
#define a function in which i can feed a year as an argument and the function can tell me it is 'leap' year or not
#it is divided by 4
#not divisible by 100 unless it is divisible by 400

def check_leap(year):
    if (year % 4 == 0) and (year % 100 != 0 or year % 400 == 0):
        print(year , "is leap year")
    else:
        print(year , "is not leap year")

In [27]:
for year in range(1900,2001):
    check_leap(year)

1900 is not leap year
1901 is not leap year
1902 is not leap year
1903 is not leap year
1904 is leap year
1905 is not leap year
1906 is not leap year
1907 is not leap year
1908 is leap year
1909 is not leap year
1910 is not leap year
1911 is not leap year
1912 is leap year
1913 is not leap year
1914 is not leap year
1915 is not leap year
1916 is leap year
1917 is not leap year
1918 is not leap year
1919 is not leap year
1920 is leap year
1921 is not leap year
1922 is not leap year
1923 is not leap year
1924 is leap year
1925 is not leap year
1926 is not leap year
1927 is not leap year
1928 is leap year
1929 is not leap year
1930 is not leap year
1931 is not leap year
1932 is leap year
1933 is not leap year
1934 is not leap year
1935 is not leap year
1936 is leap year
1937 is not leap year
1938 is not leap year
1939 is not leap year
1940 is leap year
1941 is not leap year
1942 is not leap year
1943 is not leap year
1944 is leap year
1945 is not leap year
1946 is not leap year
1947 is not leap year
1948 is leap year
1949 is not leap year
1950 is not leap year
1951 is not leap year
1952 is leap year
1953 is not leap year
1954 is not leap year
1955 is not leap year
1956 is leap year
1957 is not leap year
1958 is not leap year
1959 is not leap year
1960 is leap year
1961 is not leap year
1962 is not leap year
1963 is not leap year
1964 is leap year
1965 is not leap year
1966 is not leap year
1967 is not leap year
1968 is leap year
1969 is not leap year
1970 is not leap year
1971 is not leap year
1972 is leap year
1973 is not leap year
1974 is not leap year
1975 is not leap year
1976 is leap year
1977 is not leap year
1978 is not leap year
1979 is not leap year
1980 is leap year
1981 is not leap year
1982 is not leap year
1983 is not leap year
1984 is leap year
1985 is not leap year
1986 is not leap year
1987 is not leap year
1988 is leap year
1989 is not leap year
1990 is not leap year
1991 is not leap year
1992 is leap year
1993 is not leap year
1994 is not leap year
1995 is not leap year
1996 is leap year
1997 is not leap year
1998 is not leap year
1999 is not leap year
2000 is leap year

In [44]:
#define a function in which i can feed a year as an argument and the function can tell me it is 'leap' year or not
#it is divided by 4
#not divisible by 100 unless it is divisible by 400

def check_leap(year):
    if (year % 4 == 0) and (year % 100 != 0 or year % 400 == 0):
        return True
    else:
        return False

In [45]:
leap_years = []

for year in range(1900,2001):
    status = check_leap(year)
    if status == True:
        leap_years.append(year)

In [46]:
print(leap_years)

[1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000]

In [47]:
def do_sum(x,y):
    return (x+y)

In [48]:
result_1 = do_sum(6,3)

In [42]:
print(result_1)

9

In [43]:
print(result_1 * 2)

18

**Default parameters**

In [60]:
def users_detail(name,age='NA',weight='NA'):
    details = {"Name" : name,
               "Age" : age,
               "Weight" : weight}
    return details

In [61]:
users_detail("Ajay",23)

{'Name': 'Ajay', 'Age': 23, 'Weight': 'NA'}

In [62]:
users_detail("Ajay")

{'Name': 'Ajay', 'Age': 'NA', 'Weight': 'NA'}

In [55]:
users_detail("Ajay",23,55)

{'Name': 'Ajay', 'Age': 23, 'Weight': 55}

In [65]:
users_detail(age=23,weight=55,name="Ajay")    #keyword arguments

{'Name': 'Ajay', 'Age': 23, 'Weight': 55}

* variable length arguments

In [76]:
def calculate_sum(*args):
    pass

In [78]:
calculate_sum(8)
calculate_sum(8,3)
calculate_sum(8,3,2)
calculate_sum(8,3,2,1)

In [79]:
def calculate_sum(*args):
    total_sum = 0
    for arg in args:
        total_sum = total_sum + arg
    return total_sum

In [84]:
print(calculate_sum(8,3,2,1))
print(calculate_sum(8,3,2))
print(calculate_sum(8,3))

14
13
11

**Variable length keyword arguments**

In [91]:
ud = {'name':'Abhay' , 'age' : 34}
ud.items()

dict_items([('name', 'Abhay'), ('age', 34)])

In [94]:
ud = {'name':'Abhay' , 'age' : 34}

for key,value in ud.items():
    print(key , '-' , value)

name - Abhay
age - 34

In [85]:
def user_details(**kwargs):
    pass

In [87]:
user_details(name='Atul')
user_details(name='Atul', age = 23)
user_details(name='Atul' , age = 23 , city = 'Delhi')

In [95]:
def user_details(**kwargs):
    entered_details = {}
    for key,value in kwargs.items():
        entered_details[key] = value
    return entered_details

In [96]:
user_details(name='Atul')

{'name': 'Atul'}

In [98]:
user_details(name='Atul' , city = 'Jaipur')

{'name': 'Atul', 'city': 'Jaipur'}

In [99]:
user_details(name='Ajith' , age = 45 , city = 'Chennai')

{'name': 'Ajith', 'age': 45, 'city': 'Chennai'}

**Lambda function**

    * concise 1 line function
    * return type function

In [101]:
#function to calculate product of 2 values

def calc_product(x,y):
    return x * y

calc_product(4,3)

12

In [102]:
multiplication = lambda x,y : x * y

In [103]:
multiplication(3,2)

6

In [104]:
multiplication(9,3)

27

In [107]:
def cal_square(x):
    return x * x
    
cal_square(9)

81

In [106]:
_square = lambda x : x * x
_square(9)

81

In [116]:
def check_evens(num):
    if num % 2 == 0:
        return f"{num} is even"
    else:
        return f"{num} is odd"

print(check_evens(8))
print(check_evens(9))

8 is even
9 is odd

In [117]:
evens = lambda num : "even" if num % 2 == 0 else "odd"

In [118]:
evens(6)

'even'

In [119]:
evens(7)

'odd'

In [ ]:
def login(user_name, user_password):
    if (user_name == 'admin' and user_password == 'password'):
        print("Login success")
    else:
        print("Login failed")

In [120]:
login = lambda user_name, user_password : "Login success" if user_name == 'admin' and user_password == 'password' else "Login failed"

In [121]:
login('admin' , 'password')

'Login success'

In [122]:
login('admin' , 'passwor')

'Login failed'

In [ ]:
def check_leap(year):
    if (year % 4 == 0) and (year % 100 != 0 or year % 400 == 0):
        print(year , "is leap year")
    else:
        print(year , "is not leap year")

In [124]:
leap = lambda year : (year % 4 == 0) and (year % 100 != 0 or year % 400 == 0)

print(leap(2000))
print(leap(2002))

True
False

In [125]:
if leap(2000):
    print("it is leap year")
else:
    print("it is not a leap year")

it is leap year

In [126]:
def show_grades(marks):
    if marks > 90:
        return "Grade A+"
    elif marks > 80:
        return "Grade A"
    elif marks > 70:
        return "Grade B+"
    elif marks > 60:
        return "Grade B"
    elif marks > 50:
        return "Grade C+"
    elif marks > 40:
        return "Grade C"
    else:
        return "Failed"

In [128]:
marks = int(input("Enter your marks"))
show_grades(marks)

Enter your marks 76

'Grade B+'

In [141]:
grades = lambda marks : "Grade A+" if marks > 90 else "Grade A" if marks > 80 else "Grade B+" if marks > 70 else "Grade B" if marks > 60 else "Grade C+"

grades(45)

'Grade C+'

**File Handling**

    * read , write , update or delete a file using python script
    * modes -
        * 'r' - read
        * 'w' - write or overwrite (create if file not exist)
        * 'a' - write or add new content (create if file not exist)
        * 'x' - create and write

In [143]:
myfile = open('file1.txt', 'r')
print(myfile.read())
myfile.close()

this is a file created using python script

In [146]:
myfile = open('file2.txt', 'w')
myfile.write("This world is so good for Python learners!!")
myfile.close()

In [147]:
myfile = open('file2.txt', 'w')
myfile.write("Python Programming is for lazy programmers like Python reptile")
myfile.close()

In [148]:
myfile = open('file2.txt', 'a')
myfile.write("\nI like the rain most.")
myfile.close()

In [149]:
myfile = open('file2.txt', 'a')
myfile.write("\nRabbit runs faster but turtle wins race.")
myfile.close()

In [150]:
myfile = open('file3.txt', 'a')
myfile.write("Kids are really cute.")
myfile.close()

In [152]:
myfile = open('file4.txt', 'x')
myfile.write("We are learning file handling in Python")
myfile.close()